ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  --background: url('/assets/banner.png') no-repeat center center / cover;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
  position: relative; // obligatoire pour que before/after se placent correctement

  .container-background {
    background-color: #02929A;
    width: 100%;
    height: 217px;
    border-bottom-left-radius: 1552%;
    border-bottom-right-radius: 520%;
    position: relative; // nécessaire aussi
    display: flex;
    align-items: center;
    justify-content: center;
    // couche avant
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
     
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.15); // blanc translucide
      border-bottom-left-radius: 1552%;
    border-bottom-right-radius: 520%;
      z-index: 1;
    }

    // couche après
    &::after {
          content: "";
    position: absolute;
    /* top: 20px; */
    /* left: 20px; */
     transform: rotate(1deg);
    width: 100%;
    height: calc(100% - -40px);
    background: #037F85;
    border-bottom-left-radius: 1552%;
    border-bottom-right-radius: 520%;
    z-index: 0;
    opacity: 0.8;
    }
  }
  .logo{
    position: absolute;
    z-index: 5;
    width: 150px;
    height: 150px;

  }
}

.details{
    width: 700px;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ul{
    background-color: #02929AA6;

    border-radius: 50px;
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    
    width: 400px;
    padding: 0;
}
ul li.active{
    width: 200px;
    height: auto;
    background-color: #3B82F6;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}
ul li{
    width: 200px;
    height: auto;
    background-color: transparent;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}
.input{
    display: flex;
    flex-direction: column;
    position: relative;
}
.input label{
    color: gray;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 6px;
}
.input input{
    width: 500px;
    height: 50px;
  background-color: #02929A2B;

    border: none;
    border-radius: 20px;
    color: black;
    padding-left: 50px;
}
.input i{
        position: absolute;
    left: 20px;
    top: 62%;
    transform: translateY(-50%);
    color: #3B82F6;
    pointer-events: none;
    FONT-SIZE: 20px;
}

.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cont .check input{
    margin-right: 10px;
}
.cont a{
    color: #02929A;
    text-decoration: none;
}
button{
    background-color: #F97316;
    width: 200px;
    height: 40px;
    border-radius: 50px;
}

.border{
 
     height: 0;
    border-left: 1000px solid transparent;
    border-right: 1000px solid transparent;
    border-bottom: 100px solid rgba(2, 146, 154, 0.65);
    /* margin: 40px auto; */
    position: relative;
    bottom: 0;
    margin-top: 10px;
}
